<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Twitter</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- APP js -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- add d3 from web -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/static/app.js"></script>
</head>

<style>
body {
  margin: 0;
  background: #222;
  min-width: 960px;
}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}
</style>

<body>
<div class="row">
  <div class="col-lg-3 col-lg-push-1" style="margin-top:1%">
    <img src="/static/Twitter_logo_white.png" alt="Twitter logo" height="60" width="60">
  </div>
  <div class="col-lg-7">
  <h1 class="center" style="color:#55ACEE">Current Trending Hashtags in Twitter</h1>
  </div>
</div>
  <div id="chart"></div>
</body>
<script>
var colors = d3.scale.category10();
var svgContainer = d3.select("body").append("svg")
.attr("width", width)
.attr("height", height);
</script>
</html>
